---
layout: default
---

{%- assign cur_lang = page.lang | default: site.default_lang -%}
{%- assign i18n = site.data.i18n.strings[cur_lang] -%}
{%- assign lang_total = site.posts | where: 'lang', cur_lang | size -%}
{%- if cur_lang == site.default_lang -%}
  {%- assign prefix = '' -%}
{%- else -%}
  {%- assign prefix = '/' | append: cur_lang -%}
{%- endif -%}
{%- capture bc -%}{{ i18n.nav.home }},{{ prefix }}/;{{ i18n.footer.link_archive }}{%- endcapture -%}

<section class="section container">
  <div>
    {%- include breadcrumb.html crumbs=bc -%}
  </div>
  <header class="section__header">
    <h1 class="section__title"><span>{{ i18n.common.volume_one_short }}</span>{{ i18n.footer.link_archive }}</h1>
    <p class="section__lead">{{ i18n.common.archive_lead | replace: 'N', lang_total }}</p>
  </header>

  {%- assign lang_posts = site.posts | where: 'lang', cur_lang -%}
  {%- assign posts_by_year = lang_posts | group_by_exp: "post", "post.date | date: '%Y'" -%}
  {%- for year in posts_by_year -%}
    <section class="archive-year">
      <h2 class="archive-year__title">{{ year.name }}{{ i18n.common.archive_year_suffix }}</h2>
      <ul class="archive-list">
        {%- for post in year.items -%}
          <li class="archive-item">
            <time class="archive-item__date" datetime="{{ post.date | date_to_xmlschema }}">
              {% include lang-date.html date=post.date lang=cur_lang format='compact' %}
            </time>
            {%- assign cat_meta = site.data.categories | where: 'slug', post.category | first -%}
            {%- assign cat_i18n = site.data['categories-i18n'] | where: 'slug', post.category | first -%}
            {%- assign cat_name = cat_i18n[cur_lang].name | default: cat_i18n['zh-CN'].name -%}
            <span class="archive-item__cat" style="--cat-color: {{ cat_meta.color | default: '#a82a2a' }}">
              {{ cat_name | default: post.category }}
            </span>
            <a class="archive-item__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </section>
  {%- endfor -%}
</section>
