---
layout: default
---

<section class="section container">
  <header class="section__header">
    {%- assign cur_lang = page.lang | default: site.default_lang -%}
    {%- assign i18n = site.data.i18n.strings[cur_lang] -%}
    <h1 class="section__title"><span>卷</span>{{ i18n.nav.categories }}</h1>
    <p class="section__lead">{{ i18n.section.categories_lead }}</p>
  </header>

  {%- assign cur_lang = page.lang | default: site.default_lang -%}
  <ul class="category-list">
    {%- assign cats_i18n = site.data['categories-i18n'] -%}
    {%- for cat in site.data.categories -%}
      {%- assign cat_i18n = cats_i18n | where: 'slug', cat.slug | first -%}
      {%- assign cat_name = cat_i18n[cur_lang].name | default: cat_i18n['zh-CN'].name -%}
      {%- assign cat_desc = cat_i18n[cur_lang].desc | default: cat_i18n['zh-CN'].desc -%}
      {%- assign cat_posts = site.posts | where: 'lang', cur_lang | where: 'category', cat.slug -%}
      <li class="category-block" id="cat-{{ cat.slug }}" style="--cat-color: {{ cat.color }}">
        <h2 class="category-block__title">
          <span class="category-block__icon" aria-hidden="true">{{ cat.icon }}</span>
          {{ cat_name }}
          <span class="category-block__count">（{{ cat_posts.size }} {{ i18n.common.articles }}）</span>
        </h2>
        <p class="category-block__desc">{{ cat_desc }}</p>
        {%- if cat_posts.size > 0 -%}
        <ul class="post-list">
            {%- for post in cat_posts limit: 10 -%}
            <li class="post-list__item">
              <time class="post-list__date" datetime="{{ post.date | date_to_xmlschema }}">
                {% include lang-date.html date=post.date lang=cur_lang format='iso' %}
              </time>
              <a class="post-list__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        {%- if cat_posts.size > 10 -%}
          {%- assign remaining = cat_posts.size | minus: 10 -%}
          <p class="category-block__more">{{ i18n.common.more_unlisted | replace: 'N', remaining }}</p>
        {%- endif -%}
        {%- else -%}
          <p class="category-block__empty">{{ i18n.common.empty_tip }}</p>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</section>
