---
layout: default
---

{%- assign cur_lang = page.lang | default: site.default_lang -%}
{%- assign i18n = site.data.i18n.strings[cur_lang] -%}
{%- assign lang_tag_count = site.tags[page.tag] | where: 'lang', cur_lang | size -%}
{%- if cur_lang == site.default_lang -%}
  {%- assign prefix = '' -%}
{%- else -%}
  {%- assign prefix = '/' | append: cur_lang -%}
{%- endif -%}
{%- capture bc -%}{{ i18n.nav.home }},{{ prefix }}/;{{ i18n.nav.tags }},{{ prefix }}/tags/;#{{ page.tag }}{%- endcapture -%}

<section class="section container">
  <div>
    {%- include breadcrumb.html crumbs=bc -%}
  </div>
  {%- assign lang_tag_posts = site.tags[page.tag] | where: 'lang', cur_lang -%}
  <header class="section__header">
    <h1 class="section__title"><span>{{ i18n.common.volume_one_short }}</span>{{ i18n.nav.tags }}：#{{ page.tag }}</h1>
    <p class="section__lead">{{ i18n.common.tag_count_lead | replace: 'N', lang_tag_count }}</p>
  </header>

  <ul class="post-list post-list--rich">
    {%- for post in lang_tag_posts -%}
      <li class="post-list__item post-list__item--rich">
          <time class="post-list__date" datetime="{{ post.date | date_to_xmlschema }}">
            {% include lang-date.html date=post.date lang=cur_lang format='iso' %}
          </time>
        <a class="post-list__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {%- if post.excerpt -%}
          <p class="post-list__excerpt">{{ post.excerpt | strip_html | truncate: 90 }}</p>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>

  <p class="back-tip"><a href="{{ prefix }}/tags/">← {{ i18n.common.back_tags }}</a></p>
</section>
